// colors
$primaryColor: #2196f3;
$white: rgba(255, 255, 255, 0.95);

// fonts
$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

// media query 
$extraSmall: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;