@import "_const.scss";
@import "_utils.scss";
@import "_media_query.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
}

header {
  background-color: $primaryColor;
  color: $white;
  padding: 0.4em 0;
  .hamburger {
    display: none;
  }
  .header-nav {
    width: auto;
  }
}


.home {
  padding: 30px 18px;
  img {
    width: 360px;
  }
  h2 {
    text-align: center;
  }
}

.loading {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.card {
  width: 100%;
  border-radius: 12px;
  box-shadow: 1px 1px 8px 3px rgba(0,0,0,0.1);
  padding: 3em 1.6em;
  h2 {
    margin: 0;
  }
}


.dashboard {
  padding: 1.8em 0.3em;
  .card-container {
    margin-bottom: 30px;
    .question {
      margin: 0 0 20px 0;
      font-size: 1.3em;
    }
  }
  .next-btn {
    margin: 10px 0 30px 0;
  }
}

.dashboard-info {
  text-align: center;
  margin-bottom: 20px;
}

.controls {
  padding: 1em 1.6em;
  .questions-selector {
    text-align: center;
  }
  .index-btn {
    margin: 10px;
  }
}

.submit-dashboard {
  margin: 20px 0 ;
  text-align: center;
  img {
    border-radius: 50%;
    width: 50px;
    margin: 0 6px;
  }
}

.option {
  display: flex;
}

.report {
  margin: 30px 0;
  h2 {
    margin-bottom: 10px;
  }
  .percentage {
    text-align: center;
    p {
      font-size: 0.85em;
    }
    h3 {
      font-size: 2.2em;
      margin: 0;
    }
  }
  .tables {
    margin-top: 16px;
    width: 100%;
    padding: 0.2em;
    overflow-x: auto;
  }
}

.improvements {
  margin: 30px 0;
  h2 {
    margin-bottom: 10px;
  }
  .chip {
    margin: 4px;
  }
  .webpage-links {
    margin-top: 8px;
    a {
      display: block;
      text-decoration: none;
      font-size: 0.9em;
      line-height: 1.5
    }
  }
}

.drawer {
  position: relative;
  width: 260px;
  height: 100%;
  padding: 40px 8px 0 8px;
  button {
    margin: 6px 0;
  }
  .dev-info {
    position: absolute;
    bottom: 20px;
    left: 12px;
    font-family: $secondaryFont;
    font-weight: 700;
    a {
      color: rgba(0,0,0,0.89);
      text-decoration: none;
    }
  }
  
}

.footer {
  margin: 50px 0 0 0;
  padding: 1.3em 0.3em;
  background-color: $primaryColor;
  color: $white;
  a {
    color: $white;
    text-decoration: none;
  }
}
